.zminus{
    z-index: -1;
}

.stars{
 color: gold;   
}
.cliendbtn{
    outline: none;
    border: 1px solid white;
   
}
.cv{
    background-color: rgb(30, 114, 224);
}
.chat{
    background-color: rgba(33, 231, 33, 0.849);
}
.meeting{
    background-color: rgba(232, 14, 79, 0.82);
}
.applicantimg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.rightsidecliendbtn{
    border: none;
    padding: 10px;
    font-size: 20px;
}

.zindex{
    z-index: -1;
}