.form{
    background: white;
    width: 500px;
    height: 55px;
    display: flex;
    border-radius: 8px;
}
.form .homeinput{
    flex: 1;
    border: none;
    outline: none;

}
.form .homebtn{
  background-color: rgb(41, 105, 199);
  padding: 10px 50px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 0  8px 8px 0;
}
.form .sicon{
    align-self: center;
    padding: 10px 20px;
    color: #777;
}



.quote{
    font-family: cursive;
}
      